.Home-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.Home-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Reduce el espacio entre elementos para permitir el ajuste */
  justify-content: center;
  padding: 10px;
}

.movie-single {
  flex: 1 1 18%; /* Ajusta a aproximadamente 18% para que quepan 5 elementos con los gaps */
  max-width: 18%; /* Máximo ancho de cada película ajustado al 18% */
  box-sizing: border-box; /* Incluye padding y borde en el cálculo del ancho */
  margin: 5px; /* Asegura un margen uniforme para centrar bien las películas */
}


.showMore {
  display: flex; 
  justify-content: center;
  margin-top: 20px; 
}

.showMore button {
  padding: 10px 20px; 
  cursor: pointer;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 5px; 
  font-size: 16px; 
  transition: background-color 0.3s; 
}

.showMore button:hover {
  background-color: #0056b3; 
  font-size: larger;
}
